.header {
    margin-top: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.header a {
    color: #fff;
    background: #17141d;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}