.weather-widget {
    height: 350px;
    width: 100%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    margin: 20px 0px;
    padding-bottom: 10%;
  }

  .weather-widget h2 {
    font-size: 28px;
  }

  .weather-widget h3 {
    font-size: 25px;
  }
  
  .weather-widget:not(:first-child) {
      margin-left: -50px;
  }
  
  .title {
    color: white;
    font-weight: 300;
    left: 20px;
    top: 15px;
    font-size: 18px;
    overflow-wrap: anywhere;
  }

  .weather-widget .content {
    font-size: 14px;
    padding-top: 5px;
  }


  /* editable */
  
  .weather-widget-editable {
    height: 280px;
    width: 100%;
    background-color: #36343a;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    margin: 20px 0px;
    padding-bottom: 20%;
  }

  .weather-widget-editable:hover {
    background-color: #17141d;
    transition: 0.4s ease-out;
    color: #36343a;
  }

  
.click-to-delete {
  margin-top: 20px;
  text-align: center;
}

.drop-down-item {
  background: #fff;
  border: 1px #000 solid;
}
.drop-down-item:hover {
  background: rgb(70, 69, 69)  !important;
  border: 1px #000 solid;
  color: #fff;
  cursor: pointer;
}